*{
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    font-family:'Montserrat', sans-serif;
    
}

span{
    text-decoration: underline #a30c0c;
}

/** Header **/
.header-container{
    background-color: #000;
    display: flex;
    align-items: center;
   
}
.logo{
    width: 50%;
    height: auto;
    padding: 15px;
    justify-content: left;
    margin-left: 25px;
}
.logo img{
    width: 130px;
    min-width: 100px;
}

.nav-container{
    width: 50%;
}
nav{
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    
}
nav a{
    margin: 10px;
    text-decoration: none;
    color: #fff;
    font-weight: 200;
    
}

nav a:hover{
    color: #ddd
}


/** Sección principal **/
.seccion1{
    width: 90vw;
    height: 78vh;
    background: url(../img/imagen-bar3.jpg);
    margin: 10px auto;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.blank{
    width: 50%;
}
.derecha{
    width: 50%;
    color: #fff;
    background-color: rgba( 0, 0, 0, 0.8);
    border-radius: 8px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.05rem;
    padding: 80px 70px;
    margin-right: 30px;
}
.derecha h3{
    font-weight: 600;
    font-size: 1.7em;
    min-width: 60%;
}

.derecha p{
    font-weight: 200;
    padding: 10px;
    margin: 20px 0;
    min-width: 60%;
}
.boton{
    background-color: #a30c0c;
    border-radius: 30px;
    display: inline;
    padding: 15px;
    width: fit-content;
}
.boton:hover{
    background-color: #a53737;
}
.boton a{
    color: #fff;
    text-decoration: none;
}

/** Card eventos **/
.cards-eventos{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 50px;
}
.cards-eventos h2{
    text-align: center;
    margin: 10px auto 45px;
    font-size: 2em;
}

.card{
    width: 20%;
    min-width: 275px;
    height: 470px;
    margin: 30px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 3px 3px 10px;
}
.card:hover{
    transform: translateX(5px) translateY(-5px);
}
.texto-card{
    margin: 20px 0;
}
.texto-card h4{
    font-size: 1.3em;
}
.texto-card h5{
    font-size: 1em;
    margin-bottom: 8px;
}
.texto-card p{
    font-size: 0.9em;
    width: 80%;
    text-align: center;
    margin: 0 auto 25px auto;
}
.boton-card{
    display: inline;
    background-color: #222;
    padding: 10px;
    border-radius: 15px;
    
}
.boton-card:hover{
    background-color: #a30c0c;
}
.boton-card a{
    text-decoration: none;
    color: #fff;
}

/** Footer **/

footer{
    background-color: #000;
    width: 100%;
    height: 20vh;
}
.redes{
    display: flex;
    text-align: center;
    justify-content: center;
}
.redes a{
    width: 50px;
    margin:  0 15px;
}
.redes i{
    width: 50px;
    color: #fff;
    font-size: 1.3em;
    margin: 35px 0 20px 0;
}

footer p{
    color: #fff;
    font-size: 0.9em;
    font-weight: 200;
    text-align: center;
}
/* Responsive del index*/

@media only screen and (max-width: 600px){
    .header-container{
        display: block;
        padding: 15px;
    }
    .logo{
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }
    .logo img{
        width: 100px;
    }
    .nav-container{
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
    nav ul{
        display: block;
    }
    nav ul li{
        padding: 0;
        margin-bottom: 10px;
    }
    .seccion1{
        height: 65vh;
        margin: 25px auto 5px;
    }
    .blank{
        display: none;
    }
    .derecha{
        width: 100%;
        height: 90%;
        padding: 25px;
        padding-bottom: 50px;
        font-size: 0.9em;
        margin: 15px;
    }
    .derecha p{
        width: 100%;
        font-size: 1em;
        margin: 10px 0 20px 0;
    }
    .card{
        max-width: 200px;
        width: 80%;
        min-height: 500px;
        height: 500px;
        margin-top: 0px;
    }

    .redes a{
        font-size: 1em;
    }

    footer p{
        font-size: 0.8em;
    }

}

@media only screen and (min-width:601px) and (max-width: 767px){
    .header-container{
        display: block;
        padding: 15px;
    }
    .logo{
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }
    .logo img{
        width: 100px;
    }
    .nav-container{
        width: 100%;
    }
    .blank{
        display: none;
    }
    .seccion1{
        height: 69vh;
    }
    .derecha{
        width: 100%;
        height: 90%;
        padding: 25px;
        font-size: 1em;
        margin: 15px;
        
    }
    .derecha p{
        width: 100%;
        font-size: 1em;
        margin: 10px 0;
    }
  
}
@media only screen and (min-width:768px) and (max-width: 991px){
    nav a{
        font-size: 1.1em;
    }
    .blank{
        display: none;
    }
    .seccion1{
        height: 78vh;
    }
    .derecha{
        width: 100%;
        margin: 40px 50px;
        height: 90%;
        font-size: 1.em;
    }
    .derecha p{
        margin: 10px 0;
    }
    .card{
        min-width: 300px;
        min-height: 520px;
    }
  
}
 
/* Sobre nosotros*/

.sobre-texto-h2{
    margin: 25px auto;
    text-align: center;
    font-size:1.3em;
    width: 80vw;

}

.sobre-imagenes-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.sobre-imagen{
    min-width: 300px;
    width: 30%;
    height: auto;
    margin: 25px 10px;
}
.sobre-imagen img{
    width: 100%;
    border-radius: 5px;
}

.sobre-texto-p{
    text-align: center;
    margin: 25px auto 65px;
    width: 85vw;
}

.sobre-texto-p ul{
    list-style: none;
}

/*Responsive Sobre nosotros*/
@media only screen and (max-width: 655px) {
    .sobre-imagen{
        margin: 13px 10px;
    }
}

@media only screen and (min-width: 656px) and (max-width: 976px){
    .sobre-imagen {
        width: 40%;
    }
}


    
/*Dónde estamos*/
.mapa{
    display: flex;
    flex-wrap: wrap-reverse;
    width: 80%;
    height: auto;
    margin: 50px auto;
    justify-content: space-between;
}

.mapa-iframe{
    width: 45%;
    max-height: 500px;
    margin: 5px;
    min-width: 300px;
    margin: 15px auto;
}

.mapa-iframe iframe{
    width: 100%;
}

.mapa-texto{
    width: 45%;
    min-width: 300px;
    max-height: 500px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px;
    margin: 5px;
    border: 3px dashed #000;
    text-align: center;
    margin: 15px auto;
}

.mapa-texto h2{
    padding: 10px;
}
.mapa-texto p{
    margin-bottom: 10px;
}

/*Contacto*/

.contacto{
    width: 100vw;
    height: auto;
    margin: 0 auto;
    text-align: center;
}
.contacto-textos{
    width: 40%;
    height: 50vh;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    margin: 35px auto;
    border: 3px dashed #000;
    padding: 25px;
}

/*Responsive de contacto*/

@media only screen and (max-width: 600px){
.contacto-textos{
    width: 80%;
}
}

@media only screen and (min-width: 601px) and (max-width: 976px){
.contacto-textos{
    width: 70%;
}
}



/*Suscripción*/
.suscripcion{
    width: 100%;
}
.suscripcion h2{
    text-align: center;
    margin: 50px auto;
    font-size: 2em;
}

.form-container{
    width: 60%;
    border: 3px dashed #000;
    margin: 50px auto;
    padding: 25px;
}
.formulario{
   width: 90%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   margin: 25px auto;
}

.formulario__label{
    display: block;
    font-weight: 700;
    padding: 10px;
    cursor: pointer;
}

.formulario__input{
width: 90%;
background: #fff;
outline: none;
border: none;
border-bottom: 1px solid #000;
height: 45px;
line-height: 45px;
padding: 0 40px 0 10px;
transition: .3s ease all;
margin-bottom: 5px;
}

.formulario__input:focus{
    outline: none;
    background: linear-gradient(to bottom, #fff, #ddd);
}

.formulario__input-error{
    font-size: 12px;
    margin-bottom: 0;
    display: none;
}

.formulario__input-error-activo{
    display: block;
}

.form-checkbox{
    display: flex;
    margin: 20px auto;
    align-items: center;
    width: 80%;

}
.form-checkbox label{
    font-size: 0.8em;
    font-weight: 400;
    width: 100%;
    text-align: left;
}
.form-checkbox input{
    padding: 0;
    width: 10%;
}
.formulario__mensaje {
    height: auto;
    background-color: #f66868;
    padding: 5px 15px;
    border-radius: 3px;
    display: none;
}

.formulario__mensaje-activo{
    display: block;
}

.formulario__grupo-btn-enviar{
    width: 100%;
    margin: 8px
}
.formulario__btn{
    width: 20%;
    min-width: 100px;
    padding: 15px 10px;
    border: none;
    border-radius: 3px;
    background-color: #000;
    color: #fff;
    margin-bottom: 25px;
}

.formulario__btn:hover{
    background-color: #a30c0c;
}

.formulario__mensaje-exito{
    width: 100%;
    font-size: 14px;
    height: auto;
    background: #79f668;
    padding: 5px 15px;
    border-radius: 3px;
    display: none;
}
.formulario__mensaje-exito-activo{
    display: block;
}

/* Estilos para validación*/

.formulario__grupo-incorrecto .formulario__label{
    color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__input{
    border: 3px solid #bb2929;
}

.formulario__mensaje-exito-activo{
    display: block;
}


/* Responsive del form*/
@media only screen and (max-width: 800px){
    .form-container{
        width: 90%;
    }
    
}